.div {
    display: block;
}

.toolbar {
 font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
 background: #FFF;
 color: #5b5d5b;
 font-weight: bold;
 line-height: 25px;
}

.headerfirst {
    color: #5b5d5b;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 0.8px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    display: inline;
    text-decoration: none;
    padding-right: 10px;
    padding-bottom: 0;
}

.headersecond {
    color: #5b5d5b;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 0.8px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    display: inline;
    border-left: 1px solid #969696;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
}